@page
@model Session1.Pages.bikeTypeTemp.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BikeType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeType.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeType.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BikeType?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
